body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
.container {
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(
    109.6deg,
    rgb(3, 195, 187) 11.2%,
    rgb(180, 196, 255) 91.1%
  );
  max-width: 600px;
  border: solid #added2 0.5px;
  border-radius: 25px;
}

.btn-primary {
  color: white;
  background-color: #f5bbbf;
  border-color: #f5bbbf;

  font-size: 12px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #65eaf3;
  border-color: #65eaf3;
}

h1,
li {
  padding-top: 10px;
}
h1 {
  color: white;
  font-size: 40px;
}
h2 {
  color: white;
  font-size: 16px;
  opacity: 0.8;
}

.current-date {
  font-size: 14px;
}

ul,
li {
  font-size: 14px;
  color: white;
  padding-left: 0px;
  list-style-type: none;
  text-transform: capitalize;
}

.temperature {
  color: white;
  font-size: 35px;
}
.units {
  color: white;
}
.forecast-time,
.forecast-temperature {
  text-align: center;
  color: white;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  color: white;
  font-size: 12px;
  font-weight: 500px;
}
.weather-forecast-temperatures {
  color: white;
  font-size: 12px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
h4 {
  font-size: 12px;
  text-align: center;
  color: white;
  opacity: 0.7;
  padding-top: 40px;
}
