body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
.container {
  margin: 20px auto;
  padding: 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
  max-width: 600px;
  border: solid #added2 0.5px;
  border-radius: 25px;
}
.btn-primary {
  color: #fff;
  background-color: #f5bbbf;
  border-color: #f5bbbf;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #f7b632;
  border-color: #f7b632;
}

h1,
li {
  padding-top: 10px;
}
h1 {
  color: #050708;
  font-size: 50px;
}
h2 {
  color: #050708;
  font-size: 20px;
}

.current-date {
  font-size: 14px;
}

ul,
li {
  color: #050708;
  padding-left: 0px;
  list-style-type: none;
  text-transform: capitalize;
}

.temperature {
  color: #050708;
  font-size: 50px;
}
.units {
  color: #050708;
}
.forecast-time,
.forecast-temperature {
  text-align: center;
  color: #050708;
}

.weather-forecast {
  margin-top: 12px;
  text-align: center;
}

.weather-forecast-date {
  color: #050708;
  font-size: 12px;
  font-weight: 500px;
}
.weather-forecast-temperatures {
  color: #050708;
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
h4 {
  font-size: 12px;
  text-align: center;
  color: #050708;
  opacity: 0.7;
  padding-top: 40px;
}
